gitops-runtime:
  app-proxy:
    config:
      cors: https://pre-prod.codefresh.io
  global:
    codefresh:
      accountId: 6654565c1d4fecaaf585bcf2
      url: https://pre-prod.codefresh.io
      userToken:
        secretKeyRef:
          name: codefresh-user-token
          key: token
    runtime:
      ingress:
        className: haproxy-ingress
        enabled: true
        hosts:
          - alina-runtime.non-prod.cf-infra.com
        protocol: https
      name: test-date
  installer:
    skipValidation: true
